/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug .container {
  background-color: pink;
  height: 100%;
}
.debug [class*="col-"] {
  position: relative;
  border: 1px solid #000;
  height: 200px;
  padding: 10px;
}
.debug [class*="col-"] > .container [class*="col-"] {
  border-color: white;
  background-color: lightcoral;
  height: 100%;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.container::after {
  content: "";
  display: block;
  clear: both;
}

/* Colonne */
[class*="col-"] {
  float: left;
}

/* Responsive */

/* 0 < 767px Smartphone */
@media screen and (max-width: 767px) {
  .col-xs-1 {
    width: calc((100% / 12) * 1);
  }
  .col-xs-2 {
    width: calc((100% / 12) * 2);
  }
  .col-xs-3 {
    width: calc((100% / 12) * 3);
  }
  .col-xs-4 {
    width: calc((100% / 12) * 4);
  }
  .col-xs-5 {
    width: calc((100% / 12) * 5);
  }
  .col-xs-6 {
    width: calc((100% / 12) * 6);
  }
  .col-xs-7 {
    width: calc((100% / 12) * 7);
  }
  .col-xs-8 {
    width: calc((100% / 12) * 8);
  }
  .col-xs-9 {
    width: calc((100% / 12) * 9);
  }
  .col-xs-10 {
    width: calc((100% / 12) * 10);
  }
  .col-xs-11 {
    width: calc((100% / 12) * 11);
  }
  .col-xs-12 {
    width: calc((100% / 12) * 12);
  }

  /* Offset */
  .offset-xs-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .offset-xs-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .offset-xs-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .offset-xs-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .offset-xs-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .offset-xs-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .offset-xs-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .offset-xs-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .offset-xs-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .offset-xs-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .offset-xs-11 {
    margin-left: calc((100% / 12) * 11);
  }

  /* Mix */
  .d-none-xs {
    display: none;
  }
}
/* 768px a 991px: Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: calc((100% / 12) * 1);
  }
  .col-md-2 {
    width: calc((100% / 12) * 2);
  }
  .col-md-3 {
    width: calc((100% / 12) * 3);
  }
  .col-md-4 {
    width: calc((100% / 12) * 4);
  }
  .col-md-5 {
    width: calc((100% / 12) * 5);
  }
  .col-md-6 {
    width: calc((100% / 12) * 6);
  }
  .col-md-7 {
    width: calc((100% / 12) * 7);
  }
  .col-md-8 {
    width: calc((100% / 12) * 8);
  }
  .col-md-9 {
    width: calc((100% / 12) * 9);
  }
  .col-md-10 {
    width: calc((100% / 12) * 10);
  }
  .col-md-11 {
    width: calc((100% / 12) * 11);
  }
  .col-md-12 {
    width: calc((100% / 12) * 12);
  }

  /* Offset */
  .offset-md-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .offset-md-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .offset-md-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .offset-md-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .offset-md-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .offset-md-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .offset-md-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .offset-md-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .offset-md-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .offset-md-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .offset-md-11 {
    margin-left: calc((100% / 12) * 11);
  }

  /* Mix */
  .d-none-md {
    display: none;
  }
}
/* > 992px Desktop */
@media screen and (min-width: 992px) {
  .col-lg-1 {
    width: calc((100% / 12) * 1);
  }
  .col-lg-2 {
    width: calc((100% / 12) * 2);
  }
  .col-lg-3 {
    width: calc((100% / 12) * 3);
  }
  .col-lg-4 {
    width: calc((100% / 12) * 4);
  }
  .col-lg-5 {
    width: calc((100% / 12) * 5);
  }
  .col-lg-6 {
    width: calc((100% / 12) * 6);
  }
  .col-lg-7 {
    width: calc((100% / 12) * 7);
  }
  .col-lg-8 {
    width: calc((100% / 12) * 8);
  }
  .col-lg-9 {
    width: calc((100% / 12) * 9);
  }
  .col-lg-10 {
    width: calc((100% / 12) * 10);
  }
  .col-lg-11 {
    width: calc((100% / 12) * 11);
  }
  .col-lg-12 {
    width: calc((100% / 12) * 12);
  }

  /* Offset */
  .offset-lg-1 {
    margin-left: calc((100% / 12) * 1);
  }
  .offset-lg-2 {
    margin-left: calc((100% / 12) * 2);
  }
  .offset-lg-3 {
    margin-left: calc((100% / 12) * 3);
  }
  .offset-lg-4 {
    margin-left: calc((100% / 12) * 4);
  }
  .offset-lg-5 {
    margin-left: calc((100% / 12) * 5);
  }
  .offset-lg-6 {
    margin-left: calc((100% / 12) * 6);
  }
  .offset-lg-7 {
    margin-left: calc((100% / 12) * 7);
  }
  .offset-lg-8 {
    margin-left: calc((100% / 12) * 8);
  }
  .offset-lg-9 {
    margin-left: calc((100% / 12) * 9);
  }
  .offset-lg-10 {
    margin-left: calc((100% / 12) * 10);
  }
  .offset-lg-11 {
    margin-left: calc((100% / 12) * 11);
  }

  /* Mix */
  .d-none-lg {
    display: none;
  }
}
